<div fxLayout="row" fxLayoutAlign="center" class="artists-view-container">
  <div class="inner-container" fxLayout="column" fxFlex.gt-md="80" fxFlex.lt-sm="100">
    <section class="search-filter-container p-8" fxLayout="row" fxLayoutAlign="center">
      <form fxFlex="60" class="search-form">
        <mat-form-field fxFlex="100" class="field" appearance="outline">
          <mat-hint
          >Search so many artists</mat-hint
        >
          <input type="text"
                 placeholder="Search artist"
                 aria-label="Search artist"
                 matInput
                 [formControl]="searchControl"
                 [matAutocomplete]="auto">
                 <mat-icon color="accent" class="search-icon" matSuffix
                 >search</mat-icon
               >
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option (onSelectionChange)="artistSelectionChange(option)" *ngFor="let option of artistsOptions$ | async" [value]="option.name">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </section>
    <section class="artists-container"></section>
  </div>
</div>
